<div class="container-fluid topBar">
  <div class="row">
    <div class="col-sm-6">
      {{lName}}, {{fName}}
    </div>
    <div class="col-sm-6">
      <div class="big-button" id="logoutBtn">
        <a href="/logout">Log Out</a>
      </div>
    </div>
  </div>
</div>