<h1>New Schedule</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="dashBox schedBox">
                <div class="dashLabel">Staff</div>
                <div class="dashContent">
                    <ul class="list-group" id="staffBox"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="dashBox schedBox">
                <div class="dashLabel">Shift</div>
                <div class="dashContent">
                    <ul class="list-group" id="shiftBox"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="pickDate">Shift Date</label>
                        <input type="date" id="pickDate" name="pickDate" required>
                    </div>
                </div>
                <div class="big-button col-sm-6">
                    <a href="#" id="saveSchedBtn">Save Schedule</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 selectDays">

        </div>
        <div class="col-md-2 calBox">
            
        </div>
    </div>
</div>