<h1 class="text-center display-1" id="titleMain">STMA</h1>
<div class="container border rounded p-s5 mb-5" style="max-width: 400px;">
    <h3 class="text-center mb-4">Sign In</h3>
    {{#if invalid}}
    <div style="color:red">Invalid PIN.</div>
    {{/if}}
    <form action="/login" method="post">
        <div class="form-group">
            <label for="password">PIN</label>
            <input type="password" inputmode="numeric" pattern="[0-9]{6}" id="password" name="password" class="form-control" required>
        </div>
    </form>
</div>
