<h1>Schedule</h1>
<div class="container">
    <div>{{fName}} {{lName}}</div>
    
    {{#each schedule}}
    <div>Start Time: {{start_time}}</div>
    <div>End Time: {{end_time}}</div>
    {{/each}}

</div>

<div class="big-button col-md-6" id="menuBtn">
    <a href="#">Assign Schedule</a>
</div>